body{
  font-size: 18px;
  font-family: arial;
}


.equation-input{
  margin: 0 auto;
  display: block;
  font-size: 18px !important;
  width: 617px;
  padding: 10px;

  border: 1px solid #6B7F91;
  outline: none;
}


.mathjax-output{
  visibility: hidden;
  display: none;

}
.math-output-container{
  position: relative;
  width: 617px;
  height: 50px;
  margin: 0 auto;
}
.math-output-container .math-output{
  position: absolute;
  top: 0;
  left: 0;
  top: -20px;
  pointer-events: none;
}
.math-output-container img{
  position: absolute;
  left: 0;

}

#svg-img-out{
  position: absolute;
  margin: 0 auto;
  margin-bottom: 10px;
  opacity: 0;
}
