<h1> Completing the square </h1>
<p> Completing the square can be visually thought of as taking a quadratic equation and pretending that a rectangle is initially formed from the x and the b term (why the b-term I am yet to understand).
Ex: (x+b)(x)
 </p>
