

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  jax: ["input/MathML","output/SVG"],
  SVG: {
    scale: 120,
    useGlobalCache: false
  }
  });

</script>
<div class="mathjax-output" id="mathjax-output"></div>
<div class="math-output-container">
  <img id="svg-img-out" class="svg-img-out" src="">

  <div class="math-output" id = "divOut"> Type in Math Below (ex: sum_{i=0}^n i)</div>
</div>
<input class="equation-input" id="txtIn">

</input>
