<!DOCTYPE html>
<html>
<head>
  <title>Mathbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Quill is the text editor -->
  <link href="https://cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.2.0/quill.js"></script>

</head>
<body>
<h1> MathMagic </h1>
<%= yield %>

</body>
</html>
